# Compiled class files
target/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/

# Maven build files
mvn

# Maven wrapper files
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# TestNG report directories
test-output/

